
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Home Page */
header, footer {
  background-color: #1daad0;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  color: aliceblue;
  font-size: 30px;
  text-shadow: 1px 1px rgb(255, 49, 62);
  margin: 0;
  flex-wrap: wrap;
 }
 header {
   position: sticky;
   top: 0;
 }
header a {
  text-decoration: none;
  color: aliceblue;
  
}
header nav ul li a {
  padding: 10px 15px;
  font-size: 26px;
} 
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section, .portfolio-image-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
img {
  margin: 100px 0px 150px;
  width: 80%;
  height: 50%;
  
}

/* BIO */

.bio-section{
  display: flex;
  flex-direction: column;
}
.bio-image {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;

}
.bio-p{
  font-size: 18px;
  margin: 75px 300px 100px;
  text-align: center;
  width: 40%;
  
}
.bio-h2, .portfolio-h2 {
  font-size: 26px;
  text-shadow: 1px 1px rgb(255, 49, 62);
}
.bio-h2 {
  margin: 0;
  border-bottom: #1daad0 solid 2px;
}
/*Portfolio*/
.box-row-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  margin: 50px auto 100px;
  text-shadow: 1px 1px #ff3e31;
  border-bottom: solid #1daad0;
}

.portfolio-image-section{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  margin-bottom: 50px;
  
}

.portfolio-image-meta{
  height: 200px;
  width: 400px;
  margin: 0;
}
.portfolio-image-meta-1{
  height: 400px;
  width: 600px;
  margin: 0;
}
.portfolio-h2 {
  font-size: 40px;
  margin: 100px 100px 10px ;
}
section h2 a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.portfolio-image-meta:hover, .portfolio-image-meta-1:hover{
  color: rgb(177, 35, 35);
  background: #ff3e31;
  box-shadow: 0px 0px 10px #ff3e31;
}
footer{
  margin-top: 80px;
}

/*Contact*/
header, footer {
  background-color: #1daad0;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  color: aliceblue;
  font-size: 30px;
  text-shadow: 1px 1px rgb(255, 49, 62);
  margin: 0;
  flex-wrap: wrap;
 }
 header {
   position: sticky;
   top: 0;
 }
header a {
  text-decoration: none;
  color: aliceblue;
}
header nav ul li a {
  padding: 10px 15px;
  font-size: 26px;
} 
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section, .portfolio-image-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}header, footer {
  background-color: #1daad0;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  color: aliceblue;
  font-size: 30px;
  text-shadow: 1px 1px rgb(255, 49, 62);
  margin: 0;
  flex-wrap: wrap;
 }
 header {
   position: sticky;
   top: 0;
 }
header a {
  text-decoration: none;
  color: aliceblue;
  
}
header nav ul li a {
  padding: 10px 15px;
  font-size: 26px;
} 
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section, .portfolio-image-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ufo-image{
  margin: 100px 0px 10px;
  width: 50%;
  height: 50%;
}

.ufo-h1{
  margin: 10px auto 10px;
  font-size: 40px;
  margin: 30px;
  text-shadow: 1px 1px #ff3e31;
  
}
.ufo-a a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 200px;
  font-size: 20px;
  text-shadow: 1px 1px #ff3e31;
  text-decoration: none;
}
.ufo {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.ufo a:hover {
  text-shadow: 0px 0px 10px #ff3e31;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

/*Button*/

button a {
  display:block;
  width: 300px;
  background-color: rgb(255, 145, 145);
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
}
.home-a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
button:hover {
  background: #1daad0;
  text-decoration: none;
  cursor: pointer;
  
}
button {
  align-items: center;
  width: 150px;
  height: 150px;
  text-shadow: 0 0 10px rgba(255, 49, 62, .90);
  color: aliceblue;
  text-decoration: none;
  border-radius: 100px;
  border-color: #ff3e31;
  padding: 0;
  font-size: 80px;
  box-shadow: 0 0 10px rgba(255, 49, 62, .90);
  background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
}
/*Footer*/

footer{
  margin-top: 60px;
  bottom: 0;
  width: 100%
}
footer a {
  text-decoration: none;
  color: aliceblue;
  
}
footer nav ul li a {
  padding: 10px 15px;
  font-size: 16px;
} 
footer nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {


  header {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }

  img, .portfolio-image-meta {
    width: 80%;
    align-items: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .portfolio-h2 {
    
    text-align: center;
    justify-content: center;
  }

  header nav ul {
    margin: 20px;
  }
  button {
    padding: 0px;
    font-size: 60px;
    margin: 50px;
  }
  .portfolio-image-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  
  }
  .portfolio-image-meta{
    height: 200px;
    width: 400px;
    margin: 0;
  }
  .portfolio-image-meta-1{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
  
  }
  section h2 a{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  .portfolio-image-meta-1{
    height: 200px;
    width: 400px;
    padding: 0px;
  
}
footer {
  padding-bottom: 0;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

footer nav ul {
  display: flex;
  flex-direction: reverse;
  margin: 20px;
}
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }
  img {
    width: 100%;
    margin: 100px 100px;
    padding: 20px;
  }
  button {
  padding: 0px;
  font-size: 50px;
  margin: 50px;
  }
 .bio-p {
 width: 60%;
 }
 .portfolio-image-meta{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 400px;
  margin: 2px;
  padding: 0;
}
.portfolio-image-meta-1{
  height: 200px;
  width: 400px;
  padding: 0px;
  
  
}
.box-row-1{
  font-size: 30px;
}
.ufo-h1{
  margin: 10px auto 10px;
  font-size: 30px;
  margin: 30px;
  text-shadow: 1px 1px #ff3e31;
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
   img {
      width: 100%;
      margin: 100px 100px;
      padding: 0px;
      font-size: 30px;
    }
    .portfolio-image-meta{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
      width: 250px;
      margin: 2px;
      padding: 0;
    }
    .portfolio-image-meta-1{
      height: 150px;
      width: 250px;
      margin: 0;
  }
      
  .box-row-1{
    display: flex;
    text-align: center;
    font-size: 26px;
    
  }
  .bio-p{
    margin: 50px 10px 60px;
    font-size: 20px;
  }
  footer div {
    margin-bottom: 20px;
  }
  
}
ufo-h1{
  margin: 10px auto 10px;
  font-size: 30px;
  margin: 30px;
  text-shadow: 1px 1px #ff3e31;
}
}

